stages:
  - build
  - deploy

build_image:
  stage: build
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA .
    - docker tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA $CI_REGISTRY_IMAGE:latest
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
    - docker push $CI_REGISTRY_IMAGE:latest
  only:
    - main

update_manifests:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache git sed
    - git config --global user.email "ci@gitlab.com"
    - git config --global user.name "GitLab CI"
  script: |
    git clone https://gitlab.com/$CI_PROJECT_NAMESPACE/gitops-manifests.git
    cd gitops-manifests
    sed -i "s|image:.*|image: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA|g" deployment.yaml
    git add deployment.yaml
    git commit -m "Update image [skip ci]"
    git push https://oauth2:$CI_JOB_TOKEN@gitlab.com/$CI_PROJECT_NAMESPACE/gitops-manifests.git main
  only:
    - main
